.container{
    background: linear-gradient(to bottom, var(--cinza), var(--bege));

    max-height: 53vh;
    width: 66%;

    color: var(--RoxoEcuro);

    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.container_img{
    background-image: url(../image/computador.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
}

.container_img img{
    max-width: 80%;
    display: none;
}

.container_txt{
    transform: rotate(-3deg);
    padding-left: 10px;
    padding-top: 120px;
}

.container_img h2{
    font-size: 1.1em;
    
}

.container_img p{
    margin-top: 10px;
    font-weight: bolder;
}

@media (max-width: 975px) {
    .container{
        height: 100%;
    }
}


