header {
    background-color: #f7f2ec;
    padding: 15px;
    height: 9vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-left: 30px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: #5c4180;
    font-weight: 600;
    transition: color 0.3s ease;
}

/* Hover nos botões do menu + linha que corre por baixo */
.menu li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #5c4180;
    bottom: -5px;
    left: 0;
    transition: width 1s ease;
}

.menu li a:hover::after {
    width: 85%;
}

/* Hover nos botões do menu (mudança de cor) */
.menu li a:hover {
    color: #a97ac4;
}

/* Menu escondido no mobile */
.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburguer span {
    width: 25px;
    height: 3px;
    background-color: #5c4180;
    margin: 4px 10px;
    transition: all 0.3s ease;
}

/* Responsividade */
@media (max-width: 1100px) {
    header{
        height: 80px;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        background-color: #f7f2ec;
        position: absolute;
        top: 60px;
        left: 0;
        
    }

    .logo{
        z-index: 333;
    }

    .menu li {
        margin: 15px 0;
        text-align: center;
        
    }

    .hamburguer {
        display: flex;
        z-index: 333;
    }

    .slideDown{
        animation: slideDown 2s ease-in-out forwards;
    }

    .slideUp{
        animation: slideUp 2s ease-in-out forwards;
    }
}

/* Animações de slide */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        display: flex;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
        display: none;
    }
}