.container{
    background-color: var(--cinza);
    width: 34%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

.projeto{
height: 80%;


}

