.li{
    display: flex;
    list-style: circle;
    align-items: center;
    padding-top: 10px;
    
}

.p{
    color: var(--roxoEscuro);

}
.img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    
    
}

.span{
    width: 5px;
    height: 5px;
    background-color: var(--roxoEscuro);
    margin-right: 10px;
    border-radius: 100%;
}