.container_img{
    width: 70%;
    height: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.container_img img{
    
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
