.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container h1 {
  margin-bottom: 50px;
  max-width: 90%;
}

.t_table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card_ia img {
  width: 80px;
}

.container_servicos{
    display: flex;
    
    
}


.left{
  animation: left linear forwards;
  animation-timeline: view();
  animation-range: cover 0% cover 24%;
}

.right{
  animation: right linear forwards;
  animation-timeline: view();
  animation-range: cover 0% cover 24%;
}


@keyframes left {
  0%{
    transform: translateX(-200%);
  }
}

@keyframes right {
  0%{
    transform: translateX(200%);
  }
}

@media (max-width: 1100px) {
  .card_ia img {
    width: 30px;
  }

  .container_servicos{
    flex-wrap: wrap;
  }

  .ani_carrossel{
    animation: none;
  }

  .left{
    
    animation: none;
    
  }
  
  .right{
    
    animation: none;
    
  }
  
}
