:root{
  --bege: #f7f2ec;
  --cinza: #b4afbb;
  --roxoEscuro: #5c4180;
  --roxoClaro: #7144ae;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'padrao', sans-serif;
}

body{
  overflow: hidden;
  background-color: var(--bege);
}

@font-face {
  font-family: 'padrao';
  src: url(./fonts/Poppins-Medium.ttf);
}

@media (max-width: 1100px) {
  body{
    overflow: auto;
  }
}


